<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.hospital.persistence.mybatis.DoctorMapper">

    <resultMap id="DoctorResultMap" type="Doctor" autoMapping="false">
        <id column="id" property="id"/>
        <result column="departmentId" property="departmentId"/>
        <result column="fullName" property="fullName"/>
        <result column="specialty" property="specialty"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="hiredDate" property="hiredDate"/>
    </resultMap>

    <insert id="insert" parameterType="Doctor" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO doctors (department_id, full_name, specialty, phone, email, hired_date)
        VALUES (#{departmentId}, #{fullName}, #{specialty}, #{phone}, #{email}, #{hiredDate})
    </insert>

    <select id="selectById" parameterType="long" resultMap="DoctorResultMap">
        SELECT id,
               department_id AS departmentId,
               full_name AS fullName,
               specialty,
               phone,
               email,
               hired_date AS hiredDate
        FROM doctors
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="DoctorResultMap">
        SELECT id,
               department_id AS departmentId,
               full_name AS fullName,
               specialty,
               phone,
               email,
               hired_date AS hiredDate
        FROM doctors
    </select>

    <select id="selectByDepartmentId" parameterType="long" resultMap="DoctorResultMap">
        SELECT id,
               department_id AS departmentId,
               full_name AS fullName,
               specialty,
               phone,
               email,
               hired_date AS hiredDate
        FROM doctors
        WHERE department_id = #{departmentId}
    </select>

    <update id="update" parameterType="Doctor">
        UPDATE doctors
        SET department_id = #{departmentId},
            full_name = #{fullName},
            specialty = #{specialty},
            phone = #{phone},
            email = #{email},
            hired_date = #{hiredDate}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM doctors WHERE id = #{id}
    </delete>

</mapper>
